<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>All the best!!!</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-12">


<div class="gridContainer clearfix">
    <div id="LayoutDiv1">
        <div id="mb">
        </div>
    </div>
    <div id="infobox">

    </div>
</div>

        </div>

    </div>

</div>

