
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	margin-left: 0;
	width: 100%;
	min-height: 50%;
	/*position:absolute;*/
	top:0; left:0;
	background:url(../img/paper.jpg) repeat;
	display: block;
}
#mb{ width:320px; height:320px; position:absolute; left:50%; top:50%; margin-left:-160px; margin-top:-160px; background:url(../img/coss.png) no-repeat center; background-size:cover;}
#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9{ position:absolute;
background:transparent url(../img/croschk.png) no-repeat; background-size:cover; background-position:89px 0px;
outline:none; border:none; }
#b1{top:20px; left:8px;width:90px; height:90px;}
#b2{top:20px; left:110px;width:85px; height:85px;}
#b3{top:20px; left:205px;width:90px; height:90px;}
#b4{top:130px; left:18px;width:90px; height:76px;}
#b5{top:130px; left:110px;width:85px; height:76px;}
#b6{top:130px; left:205px;width:90px; height:76px;}
#b7{top:218px; left:5px;width:90px; height:90px;}
#b8{top:218px; left:110px;width:85px; height:85px;}
#b9{top:218px; left:205px;width:90px; height:90px;}
